body {
    background: white;
    font-family: 'Comic Sans MS';
    font-size: 15px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

#welcome {
    text-decoration: none;
    font-size: 16px;
}

#logo {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;

}

#logo img {
    width: 400px;

}
#blocks {
    min-height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#blocks .block {
    padding-top: 20px;
    float: left;
    text-align: center;
    width: 33.3%;
}
#blocks .items li {
    display: inline;
    padding: 10px;

}

