/*General*/
body {

    background: white;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 0;
    margin: 0;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
/*MAIN PAGE ----------------------------------- */

/*Header*/
header {

    padding-top: 30px;
    min-height: 50px;
    width: 100%;
    border-bottom: orange 10px ridge;
}

#welcome {
    text-decoration: none;
    font-size: 16px;

}

#logo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

#logo img {
    width: 400px;

}

/*Character blocks*/
#blocks {
    background-color: blueviolet;
    font-size: 20px;
    line-height: 1.5;
    color: orange;
    min-height: 550px;
    padding-top: 50px;
    padding-bottom: 0;

}

#blocks .block {

    padding-top: 20px;
    float: left;
    text-align: center;
    width: 33.3%;
}

#blocks img {
    width: 400px;
}

#blocks .items li {
    display: inline;
    padding: 10px;

}

.table-striped {
    margin-top: 40px;

}

.itemBox li {

    background: black;
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    list-style: none;
    margin-top: 20%;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
}

/*Next challenge*/

#next {
    border-top: orange 10px ridge;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;


}

/*Items Dropdown*/

.items {
    padding-top: 20px;
    position: absolute;
}

.items li {
    height: auto;
    width: 150px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .9) inset, 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-left: 10px;
}

.items a {

    text-decoration: none;
    color: orangered;
    text-shadow: 0 1px #fff;
    display: block;
}

.items li ul {
    display: none;
    height: auto;
    margin-left: -11px;
    padding: 0;
}

.items li:hover ul {
    display: block;
}

.items li:hover a:hover {
    background: darkgray;
}

/*LOGIN PAGE -------------------------------------------- */

.employeeForm {

    text-align: center;
    padding-top: 100px;
    background: url("static/pics/purple-bg.png") no-repeat;
}

/*Start Game Page ----------------------------------------*/

.startGame {

    text-align: center;
    padding-top: 100px;
}