<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div style="text-align: center">
 <p><img src="pics/loveManagerLogo.png"></p>
</div>
<hr>
<div style="text-align: center">

<img th:src="@{${flirtResult.getResultPicUrl()}}">
<p th:text="${flirtResult.getResultText()}"></p>
<p><a th:href="${flirtResult.getLink()}"><img src="pics/buttons/next.png"></a></p>


</div>


</body>
</html>