<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="logo">
    <img src="pics/loveManagerLogo.jpg">
</div>

<div class="startGame">
    <img th:src="@{${flirtResult.getResultPicUrl()}}">
    <p th:text="${flirtResult.getResultText()}"></p>
    <p><a th:href="${flirtResult.getLink()}"><img src="pics/buttons/next.png"></a></p>
</div>

</body>
</html>