<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="logo">
 <p><img src="pics/loveManagerLogo.png"></p>
</div>
<hr>


<div style="text-align: center; font-family: 'Comic Sans MS'; font-size: 25px">
<h1>Welcome to Love Manager</h1>
<p>Here you will help Larry to become grandmaster of flirts.He starts as a complete loser and through succesful flirts he gets better.</p>
<p><strong>Stats:</strong> On the right you can see his three stats.He has Intelligence, Physical and Social Appearance.They grow after each succesful flirt of that type or when you
equip an item of that kind.</p>
<p><strong>Items:</strong> You can choose what items to equip from the items you have.You win items after every succesful flirt.</p>
<p><strong>Challenges:</strong> At the bottom you will see the button "Next Challenge".This will present you with the next girl you have to flirt with.
Every girls is of 4 unique types.Intelligence, Social Status, Physical type and Weirdo.</p>
<p>You must guess her type and then a check will be made with your corresponding skill, if you guessed correctly.If you pass the check the flirt is succesful.</p>
<p>In all other cases it is not.The Weirdo type is a wild card and can be either of the others or not at all :).</p>


<a href="index2"><img class="nextButton" src="pics/buttons/next.png"></a>
</div>
</body>
</html>