<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="header" style="text-align: center">
   <p><img src="pics/loveManagerLogo.png"></p>
   <div class="employeeForm">
                   <h1>User:</h1>
                   <form action="#" th:action="@{/}" th:object="${user}" method="post">
                   <p>Username: <input type="text" th:field="*{username}" /></p>
                   <p>Password: <input type="password" value="FakePSW" th:field="*{password}" /></p>
                   <p><input type="submit" value="Login" /><input type="reset" value="Reset" /></p>
                   </form>
                   <p th:text="${loginInfo}"></p>

           </div>

</div>


</body>
</html>