<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <div class="container">
        <div id="welcome">
            <p th:text="'Welcome, ' + ${active.getName()}"></p>
        </div>
        <div id="logo">
            <img src="pics/loveManagerLogo.png">
        </div>
    </div>
</header>
<div class="container">
    <div class="buttonPic">
        <p><a href="mainGameScreen"><img class="nextButton" src="pics/buttons/newGame.png"></a></p>
        <p><a href=""><img class="nextButton" src="pics/buttons/loadGame.png"></a></p>
        <p><a href="howToPlay"><img class="nextButton" src="pics/buttons/howToPlay.png"></a></p>
    </div>
</div>

</body>
</html>