<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="header">
   <p><img src="pics/playboymanagerLogo.jpg"></p>

</div>
    <div class="employeeForm">
                <h1>User:</h1>
                <form action="#" th:action="@{/}" th:object="${user}" method="post">
                <p>Username: <input type="text" th:field="*{username}" /></p>
                <p>Password: <input type="text" th:field="*{password}" /></p>
                <p><input type="submit" value="Login" /><input type="reset" value="Reset" /></p>
                </form>
                <p>If the user doesn't exist it will be created.</p>

        </div>

</body>
</html>