<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<p th:text="'Welcome, ' + ${active.getName()}" style="text-align: center"></p>
<div class="header" style="text-align: center">
   <p><img src="pics/playboymanagerLogo.jpg"></p>
   <p><a href="mainGameScreen"><img src="pics/newGame.jpg"></a> </p>
   <p><img src="pics/loadGame.jpg"></p>
</div>


</body>
</html>