<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <div id="welcome">
        <p th:text="'Welcome, ' + ${active.getName()}"></p>
    </div>
    <div id="logo">
        <img src="pics/loveManagerLogo.jpg">
    </div>
</div>
<div class="container">
    <div class="startGame">
        <p><a href="mainGameScreen"><img src="pics/buttons/newGame.png"></a></p>
        <p><img src="pics/buttons/loadGame.png"></p>
        <p><a href="howToPlay"><img src="pics/buttons/howToPlay.png"></a></p>
    </div>
</div>

</body>
</html>