<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Love Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<section id="main">
    <header>
        <div class="container">
            <div id="welcome">
                <p th:text="'Welcome, ' + ${active.getName()}"></p>
            </div>
            <div id="logo">
                <img src="pics/loveManagerLogo.jpg">
            </div>
        </div>
    </header>


    <div id="blocks">
        <div class="container">
            <div class="block">
                <img src="pics/character.png" id="char">

            </div>

            <div class="block">

                    <div id="items">
                        <h1>Choose Your Weapons</h1>
                        <ul class="items">
                            <li><a href="#">Accessories</a>                                <ul>
                                <li><a href="#">Glasses</a></li>
                                <li><a href="#">Gold Chain</a></li>
                                <li><a href="#">Sun Glasses</a></li>
                                <li><a href="#">Watch</a></li>
                                <li><a href="#">Gold Teeth</a></li>
                            </ul></li>
                            <li><a href="#">Outfit</a>
                                <ul>
                                    <li><a href="#">Black Suit</a></li>
                                    <li><a href="#">Casual Shirt</a></li>
                                    <li><a href="#">T-Shirt</a></li>
                                    <li><a href="#">Sweat Suit</a></li>
                                </ul></li>
                            <li><a href="#">Vehicle</a>
                                <ul>
                                    <li><a href="#">Bicycle</a></li>
                                    <li><a href="#">Classic Car</a></li>
                                    <li><a href="#">Sports Car</a></li>
                                    <li><a href="#">Crazy Car</a></li>
                                    <li><a href="#">Limo</a></li>
                                    <li><a href="#">Tractor</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                <div class="itemBox">
                    <ul class="itemBox">
                        <li><a href="#" id="accBox"></a></li>
                        <li><a href="#" id="outfitBox"></a></li>
                        <li><a href="#" id="vehicleBox"></a></li>
                    </ul>

                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="statsTable">
                        <h2>PROFILE</h2>
                        <table class="table table-striped">

                            <tbody>
                            <tr>
                                <td>Level:</td>
                                <td th:text="${character.getLevel()}"></td>
                            </tr>
                            <tr>
                                <td>Title:</td>
                                <td th:text="${character.getTitle()}"></td>
                            </tr>
                            <tr>
                                <td>Physique:</td>
                                <td th:text="${character.getPhysique()}"></td>
                            </tr>
                            <tr>
                                <td>Intelligence:</td>
                                <td th:text="${character.getIntelligence()}"></td>
                            <tr>
                                <td>Social Status:</td>
                                <td th:text="${character.getStatus()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="next">
        <a href="nextChallenge"><img src="pics/buttons/nextChallenge.png"></a>
    </div>
</section>

</body>
</html>