<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<p th:text="'Welcome, ' + ${active.getName()}"></p>
<p><img src="pics/playboymanagerLogo.jpg"></p>

<hr>

<div>
<img src="pics/characterWhole.jpg">

</div>

<div class="header">

</div>


</body>
</html>