<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div style="text-align: center">
<p><img src="pics/playboymanagerLogo.jpg"></p>
</div>
<hr>
<div style="text-align: center">
<img src="pics/girls/test.jpg" height="420px">
<p>Lonnie</p>
<p>A library girl bla bla bla</p>
</div>


</body>
</html>