<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <div class="container">
        <div id="welcome">
            <p th:text="'Welcome, ' + ${active.getName()}"></p>
        </div>
        <div id="logo">
            <img src="pics/loveManagerLogo.png">
        </div>
    </div>
</header>

<div style="text-align: center">
    <div class="girlPic">
        <img th:src="@{${girl.getPicUrl()}}">
        <p th:text="${girl.getName()}"></p>
        <p th:text="${girl.getPresentation()}"></p>
    </div>

    <p>How do you flirt with this girl?</p>
    <div class="buttonPic">
        <ul>
            <li><a href="/intelligenceFlirt"><img class="nextButton" src="pics/buttons/intelligentFlirt.png"></a></li>
            <li><a href="/physicalFlirt"><img class="nextButton" src="pics/buttons/physicalFlirt.png"></a></li>
            <li><a href="/socialStatusFlirt"><img class="nextButton" src="pics/buttons/socialStatusFlirt.png"></a></li>
        </ul>
    </div>
</div>


</body>
</html>